<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="css/adminupdate.css">
<style>
  body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/850/799/765/clouds-sunset-airplane-nature-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
  }

</style>
</head>
<body>
<div class="container">
  <div class="right" style="background: transparent;">
    <form action="/fare1" style="text-align: center;">
        <label>Enter Amount :</label><br>
      <input type="text" name="amount"><br><br>
        <label>Enter  Currency Type  :</label><br>
      <input type="text" name="currency"><br><br>
      <button type="submit">ADD</button>
    </form>
  </div>
</div>
</body>
</html>