<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Airline</title>
<link rel="stylesheet" href="css/adminupdate.css">
<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1606768666853-403c90a981ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZmxpZ2h0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
  }

</style>
</head>
<body>
<center><p th:text="${msg}" style="color: #FF0000; padding: 10px; font-size: 24px;"></p></center>
<div class="container">
  <div class="right" style="background: transparent;">
    <form action="/flightinfo3operation" style="text-align: center;">
     <label>Enter Flight Number :</label><br>
      <input type="text" name="number"><br><br>
     <label>Select Date :  </label>
      <input type="date" name="date"  style=" width: 200px;height: 30px"><br><br>
       <label>Select Time :  </label>
      <input type="time" name="time" style=" width: 200px;height: 30px"><br><br>
   
      <button type="submit">Search</button>
    </form>
  </div>
</div>
</body>
</html>
